
.clearfix:after{
  display: block;
  clear: both;
  content: "";
}

.btn-lg label{
  font-size: 16px;
  padding: 13px 4px;
  width: 120px;
}
.btn-m label{
  font-size: 15px;
  padding: 12px 3px;
  width: 100px;
}
.btn-s label{
  font-size: 14px;
  padding: 11px 2px;
  width: 80px;
}
.btn-x label{
  font-size: 13px;
  padding: 10px 1px;
  width: 60px;
}

.btn-group input{
	display: none;
}
.btn-group label{
	display: block;
	float: left;
  border: 1px solid #abb2b7;
	text-align: center;
}
.btn-group label:first-of-type{
	border-radius: 5px 0 0 5px;
}
.btn-group label:last-of-type{
	border-radius: 0 5px 5px 0;
}
.btn-group input[type="radio"]:checked + label {
	background-color: #a1b91d;
	color: #fff;
}


.alert {
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  padding: 3px;
  margin: 3px;
  font-size: 6px;
  font-weight: bold;;
  text-align: center;
}

.alert-default {
  background-color: #696969;
}

.alert-primary {
  background-color: #0066CC;
}

.alert-success {
  background-color: #33CC66;
}

.alert-info {
  background-color: #00CCFF;
}

.alert-warning {
  background-color: #FFA500;
}

.alert-danger {
  background-color: #FF3333;
}
