a {
  text-decoration: none ;
}
.header a {
  color: #ffffff;
}
.header a:visited {
  color: #ffffff;
}
.header a:hover {
  text-decoration: underline;
}
.container {
  text-align: center;
  /* background-color: pink; */
}
.logo a {
  color: #111111;
}
.logo a:hover {
  text-decoration: underline;
}
.logo a:visited {
  color: #111111;
}
.link_blue {
  color: #111111;
}
.link_blue:visited {
  color: #000000;
}
.link_blue:hover {
  color: #0366d6;
  text-decoration: underline;
}
.link_gray {
  color: #586069;
}
.link_gray:visited {
  color: #586069;
}
.link_gray:hover {
  color: #586069;
  text-decoration: underline;
}
body {
  font-family:Inter UI,sans-serif;
}
.clearfix:after{
  clear: both;
  content: "";
  display: block;
}

.header {
  background-color: #24292e;
  color: #ffffff;
  font-size: 12px;
  padding: 8px 60px;
}
.menu{
  /* background-color: skyblue; */
  display: inline-block;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 14px;
  line-height: 30px;
  padding: 10px;
  /* width: 1100px; */
}
.logo {
  float: left;
  line-height: 55px;
  margin: 0px 200px 0px 20px;
  position:relative;
}
.logo img {
  bottom: 0;
  left: -30px;
  margin: auto;
  position: absolute;
  top: 0;
}
.category {
  float: left;
  margin: 0px 20px 0px 0px;
}
.category_item {
  float: left;
}
.category_item a {
  color: #111111;
}
.category_item:visited a {
  color: #111111;
}
.search {
  float: left;
  line-height: 55px;
  margin: 0px 0px 0px 5px;
  position:relative;
}
.search img {
  bottom: 0;
  margin: auto;
  position: absolute;
  top: 0;
}

.parent {
  /* background-color: #fffaf0; */
  display: -webkit-flex;
  display: inline-block;
  padding: 10px;
  text-align: left;
  -webkit-align-items: center;
  width: 1000px;
}
.inner {
  margin: 10px;
  width: 470px;
}
.inner_left {
  float: left;
}
.inner_right {
  float: left;
}
.publisher {
  float: left;
  font-size: 12px;
  margin: 10px 0;
  position:relative;
}
.publisher img {
  bottom: 0;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0;
}
.name {
  color: #586069;
  padding-left: 40px;
}
.middle {
  padding: 26px 12px;
}
.middle_title {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0px;
  text-align: left;
}
.large {
  padding: 10px 12px;
}
.large_title {
  font-size: 36px;
  font-weight: bold;
  padding: 5px 0px;
}
.category_panel {
  background-color: #f6f8fa;
  /* background-color: yellow; */
}
.category_info {
  padding: 50px 10px;
  /* background-color: palegreen; */
  display: inline-block;
  margin-left:auto;
  margin-right:auto;
  text-align: left;
}
.category_card {
  background-color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  float: left;
  margin: 70px 10px 10px 10px;
  height: 260px;
  padding: 5px 10px;
  text-align: center;
  width: 160px;
}
.category_card:hover {
  box-shadow: 0 0 10px #BBBBBB;
  transform: scale(1.03,1.03); /*画像の拡大*/
}
.category_title {
  font-weight: bold;
  text-align: left;
  padding: 0px 5px;
}
.category_title::after {
  background:url(../img/allow.png) no-repeat;
	background-size:contain;
	content:"";
	display:inline-block;
  height:13px;
  margin: 8px;
  vertical-align: middle;
	width:13px;
}
.normal_text {
  color: #586069;
  font-size: 13px;
  text-align: left;
}
.post_panel {
  /* background-color: blue; */
  display: inline-block;
  padding: 70px 10px;
  width: 1000px;
}
.post_title {
  text-align: left;
  padding-left: 15px;
}
.post_card {
  /* background-color: skyblue; */
  display: inline-block;
  padding: 10px;
  width: 950px;
}
.post_date {
  float: left;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  width: 250px;
}
.post_info {
  float: left;
  text-align: left;
  width: 650px;
}
.min_title {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0px;
  /* background-color: pink; */
}
.moreposts {
  border: #dedede 1px solid;
  border-radius: 3px;
  color: #0366d6;
  display: inline-block;
  font-size: 12px;
  height: 45px;
  margin: 20px;
  width: 140px;
}
.moreposts_title {
  line-height: 16px;
}
.moreposts_title::after {
  background:url(../img/allow_blue.png) no-repeat;
	background-size:contain;
	content:"";
	display:inline-block;
  height:10px;
  margin: 0 5px;
  vertical-align: middle;
	width:10px;
}
.moreposts:hover {
  border: #0366d6 1px solid;
  background-color: #0366d6;
  color: #ffffff;
}
.moreposts_title:hover:after {
  background:url(../img/allow_white.png) no-repeat;
	background-size:contain;
  content:"";
	display:inline-block;
	height:10px;
  margin: 0 5px;
  vertical-align: middle;
  width:10px;
}
.blog_content {
  /* background-color: palegreen; */
  display:inline-block;
  padding: 30px;
  width: 630px;
}
.index {
  border-bottom: solid 2px #eaecef;
}
.blog_body {
  display:inline-block;
  padding: 0px 0px 0px 150px;
  width: 1000px;
}
.blog_title {
  /* background-color: skyblue; */
  display:inline-block;
  padding-top: 10px;
  text-align: left;
  width: 700px;
}
.blog_explain {
  display:inline-block;
  float: left;
  margin: 0 0 0 50px;
  padding: 30px;
  width: 630px;
}

.sns {
  /* background-color: yellow; */
  display:inline-block;
  float: left;
  padding: 10px;
  text-align: left;
}
.twitter::before {
  background:url(../img/twitter.png) no-repeat;
  background-size:contain;
	content:"";
	display:inline-block;
  height:11px;
  padding: 2px;
  vertical-align: middle;
  width:11px;
}
.facebook::before {
  background:url(../img/facebook.png) no-repeat;
	background-size:contain;
	content:"";
	display:inline-block;
  height:11px;
  padding: 2px;
  vertical-align: middle;
	width:11px;
}

.content_title {
  border-bottom: dotted 3px #d1d5da;
  color: #676e76;
  display:inline-block;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 18px;
  margin-bottom: 16px;
}
.blog_footer {
  display: inline-block;
  text-align: center;
}
.footer_panel {
  background-color: #fafbfc;

}
.post {
  /* background-color: palegreen; */
  display: inline-block;
  float: left;
  height: 100px;
  margin: 5px;
  padding: 10px;
  text-align: left;
  width: 280px;
}
.blog_footer {
  padding: 50px;
  text-align: left;
}
.all_post {
  /* background-color: red; */
  display: inline-block;
  float: left;
  text-align: center;
}
/* 親メニュー */
.category_item li {
  list-style: none;
  position: relative;
}
.category_item li a:hover {
  color: #0366d6;
}
/* 子メニュー */
.category_item li ul {
  background-color: #ffffff;
  box-shadow: 0 0 10px #BBBBBB;
  position: absolute;
  text-align: left;
  width: 130%;
}
.category_item li ul li {
  height: 0;
  overflow: hidden;
  width: 100%;
}
/* ホバーで子メニュー表示 */
.category_item > li:hover > a {
  height: auto;
}
.category_item li:hover > ul >li {
  height: auto;
  overflow: visible;
}
.category_items::after {
  background:url(../img/select_down.png) no-repeat;
	background-size:contain;
	content:"";
	display:inline-block;
	height:8px;
  margin: 2px;
  vertical-align: middle;
  width:8px;

}
.category_items:hover::after {
  background:url(../img/select_up.png) no-repeat;
  background-size:contain;
	content:"";
	display:inline-block;
	height:8px;
  margin: 2px;
  vertical-align: middle;
  width:8px;
}
